
/* =========================
   全局变量
========================= */
:root {
  --navbar-height: 90px;
  --sidebar-width: 110px;
  --sidebar-gap: 18px;

  --blur: blur(20px);
  --transition: all 0.3s ease;

  /* 颜色 */
  --color-bg: #FFFBFF;
  --color-text: #3d3d3d;
  --color-white: #ffffff;
  --color-pink: #ff9fc2;
  --color-pink-soft: rgba(255, 159, 194, 0.3);
  --sidebar-bg: rgba(240, 240, 240, 0.6);
  --shadow: rgba(0, 0, 0, 0.2);
  --sidebar-bg-mobile: rgba(255, 182, 193, 0.3);
  --sidebar-shadow-mobile: 0 -2px 8px rgba(255,105,180,0.2);
}

button, .sidebar a, .nav-link {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  overflow-x: hidden;
  touch-action: pan-y;
}

.content {
  overscroll-behavior: contain;
}

a {
  color: var(--color-text);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}



/* =========================
   深色模式
========================= */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #201418;
    --color-text: #f5f5f5;
    --sidebar-bg: rgba(30,30,30,0.6);
    --shadow: rgba(0,0,0,0.5);
    --color-pink-soft: rgba(255,179,207,0.25);
    --color-pink: #ffb3cf;

    --sidebar-bg-mobile: rgba(30, 30, 30, 0.7);
    --sidebar-shadow-mobile: 0 -2px 8px rgba(0,0,0,0.5);
  }

 .article-card {
    background: rgb(66,41,50) !important;
    color: #f5f5f5 !important;

  }

  .article-card h1,
  .article-card h2,
  .article-card p,
  .article-card .meta {
    color: #f5f5f5;
  }

.profile-card {
  background: rgb(65,42,52) !important;
}

.profile-list li {
  background: rgb(90,63,72) !important;
}
}



/* =========================
   基础布局
========================= */
body {
  background: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  transition: var(--transition);
}



/* =========================
   navbar
========================= */
.navbar {
  position: fixed;
  top: 0;
  left: var(--sidebar-width);
  width: calc(100% - var(--sidebar-width));

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 30px;
  box-sizing: border-box;
  z-index: 999;

  background: transparent;
  backdrop-filter: var(--blur);

  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0));
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}



/* =========================
   sidebar
========================= */
/* sidebar CSS */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--sidebar-gap);

  background: var(--sidebar-bg);
  backdrop-filter: var(--blur);
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: var(--sidebar-gap);
  width: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar ul li {
  display: flex;
  flex-direction: column; /* 图标在上，文字在下 */
  align-items: center;    /* 水平居中 */
  gap: 4px;               /* 图标和文字间距 */
}

.sidebar a {
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 55px;
  height: 30px;
  min-height: 30px;
  border-radius: 22px;

  color: var(--color-text);
  text-decoration: none;
  transition: var(--transition);
}

.sidebar-text {
  font-size: 0.75rem;
  text-align: center;

  color: var(--color-text);
}

.sidebar a:hover,
.sidebar a.active {
  background: var(--color-pink-soft);
}



/* =========================
   ripple
========================= */
.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-animation 0.5s linear;
  background: rgba(255,255,255,0.5);
  pointer-events: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}



/* =========================
   content
========================= */
.content {
  margin-left: calc(var(--sidebar-width) + 20px);
  margin-right: 20px;

  padding-top: calc(var(--navbar-height) + 20px);
  padding-bottom: 40px;

  max-width: calc(100% - var(--sidebar-width) - 40px);

  display: grid;
  grid-template-columns: 1fr; /* 默认单列 */
  justify-items: center;      /* 水平居中所有卡片 */
  gap: 40px 20px;

  box-sizing: border-box;
  transition: opacity 0.3s;
}

@media (min-width: 769px) {
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 两列布局 */
    justify-items: center;          /* 子元素居中 */
    gap: 40px 20px;                 /* 上下间距 40px，左右间距 20px */
  }

  .card {
    height: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* 动画 */
.fade-out {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.2s ease;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.4s ease;
}



/* =========================
    头图
========================= */
.article-header {
  width: calc(100% - var(--sidebar-width) ); /* 左边留 sidebar */
  margin: 0 0 0 var(--sidebar-width); /* 左侧留 sidebar 宽度 */
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 0;
  position: relative;
  z-index: 0;
  filter: brightness(0.9);
  mask-image: linear-gradient(to bottom, black 70%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent);
}



/* =========================
   文章卡片 article-card
========================= */
.article-card {
  position: relative;
  margin: -120px 140px 40px calc(var(--sidebar-width) + 140px);
  width: 100%;
  max-width: 600px;
  padding: 30px;
  border-radius: 20px;
  background: rgb(242,221,226);
  color: var(--color-text);
  box-sizing: border-box;
  transition: var(--transition);
}

/* 标题 */
.article-card h1 {
  margin-top: 0;
  font-size: 2rem;
}

/* 元信息 */
.article-card .meta {
  font-size: 0.9rem;
  opacity: 0.7;
  margin-bottom: 20px;
}

/* 段落间距 */
.article-card p {
  margin: 12px 0;
}

/* 小标题 */
.article-card h2 {
  margin-top: 25px;
}



/* =========================
   个人卡片
========================= */
.profile-card {
  display: flex;
  grid-column: 1 / -1;   /* 占满整行 */
  align-items: center;
  gap: 20px;
  background: rgb(243,229,238);
  border-radius: 16px;
  padding: 20px;
  margin: 0 auto 30px auto;  /* 上 0，下 30px，左右 auto */
  max-width: 800px;

  opacity: 0;
  transform: translateY(10px);
  transition: 0.4s;
}

.profile-card.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.profile-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.profile-list li {
  padding: 6px 14px;
  border-radius: 999px;
  background: rgba(255,255,255,0.4);
}



/* =========================
   卡片
========================= */
.card {
  height: 250px;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: var(--transition);
}

.card-list li{
	  padding: 4px 10px;
  border-radius: 999px;
  background: rgba(255,255,255,0.4);
}

.card:hover {
  transform: translateY(-3px);
}

/* 普通图片（不影响头图和头像） */
img:not(.article-header):not(.profile-card img) {
  width: 300px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}



/* =========================
   视频
========================= */
.responsive-iframe {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.responsive-iframe iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}



/* =========================
   移动端
========================= */
@media (max-width: 768px) {

  .navbar {
    left: 0;
    width: 100%;
    padding: 20px;
  }

  .sidebar {
    top: auto;
    bottom: 0;
    width: 100%;
    height: 70px;

    flex-direction: row;
    justify-content: center;

    background: var(--sidebar-bg-mobile);
    box-shadow: var(--sidebar-shadow-mobile);
    z-index: 1000;
  }

  .sidebar ul {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .sidebar a {
    flex: 1;
  }

  .content {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto 30px;
	max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;   /* 子元素居中 */
  }

  .article-header {
    width: 100%;
    margin: 46px 0 0 0px;
  }

   .article-card {
    width: calc(100% - 20px); /* 左右各 10px */
    margin: -80px 10px 20px;   /* 上与头图重叠，下 20px */
left: 0;
  }

  .profile-card {
    width: 100%;
    max-width: 600px;   /* 防止太宽 */
    margin: 0 auto 0 auto; /* 上 0，下 0px，左右居中 */
    box-sizing: border-box;   /* 让 padding 不增加宽度 */
  }
}
